<html>
<head>
	<title>About me</title>
	<%= stylesheet_link_tag    "me" %>
	<%= stylesheet_link_tag    "bootstrap_and_overrides" %>
</head>
<body id='me'>
	<div id="info" class="row-fluid">
		<div id="my_info">
			<div id="main_info">
				<img id="my_img" src="me.jpg" title="me">	
			</div>
			
		</div>
		<div id="my_skill"></div>
	</div>
</body>
</html>