<%= form_for @journal.pictures.build, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
<div class="fileupload-buttonbar">
    <%= f.hidden_field :journal_token, value: @journal.token %>
    <a class="fileinput-button">
        上传图片<%= f.file_field :image, multiple: true, id: 'picture_image' %>
    </a>
</div>
<div class="fileupload-loading"></div>
<table class="table table-striped">
    <tbody class="files"></tbody>
</table>
<% end %>

<!-- 上传过程中 -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        {% if (file.error) { %}
            <td class="error" colspan="2">
                <span class="label label-important">Error</span>{%=file.error%}
            </td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active">
                    <div class="bar" style="width:0%;"></div>
                </div>
            </td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">取消</button>
        {% } %}</td>
    </tr>
{% } %}
</script>

<!--上传完成后-->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td class="error" colspan="2">
                <span class="label label-important">Error</span>{%= file.error%}
            </td>
        {% } else { %}
            <td class="preview"><img src="{%=file.littlenail_url%}"></td>
        {% } %}
        <td class="delete">
            <button data-url="{%=file.delete_url%}">
                <i class='icon-remove'></i>
            </button>
        </td>
    </tr>
{% } %}
</script>


<script type="text/javascript" charset="utf-8">
    $(function () {
         $('#picture_image').attr('name', 'picture[image]');
        // Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload();
        // set options here!
        $('#fileupload').fileupload('option', {
            autoUpload: true,
            maxFileSize: 2000000,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxNumberOfFiles: 15
        });
        // 
        // Load existing files:
        $.getJSON($('#fileupload').prop('action'), function (files) {
          var fu = $('#fileupload').data('fileupload'), 
            template;
          fu._adjustMaxNumberOfFiles(-files.length);
          template = fu._renderDownload(files)
            .appendTo($('#fileupload .files'));
          // Force reflow:
          fu._reflow = fu._transition && template.length &&
            template[0].offsetWidth;
          template.addClass('in');
          $('#loading').remove();
        });

    });
</script>

