<h1>GMaps.js &mdash; Geocoding</h1>
<div class="row">
	<div class="span11">
		<form method="post" id="geocoding_form">
			<label for="address">Address:</label>
			<div class="input">
				<input type="text" id="address" name="address" />
				<input type="submit" class="btn" value="Search" />
			</div>
		</form>
		<div id="map"></div>
	</div>
</div>