<% provide(:title, "途趣网 | New journal") %>
<div id='write_journal' class="row-fluid">
	<div id='write_content' class="span7">
		<%= render 'journals/form' %>
	</div>
	<div id='upload_picture' class="span3">
		<%= render 'pictures/form' %>
	</div>
</div>

<script>
$(function(){
		$(".journal_form").validate();
})
</script>