<% provide(:title, "途趣网 | New journal") %>
<div id='write_journal' class="row-fluid">
	<div id='upload_picture' class="span5">
		<%= render 'pictures/form' %>
		<%= render 'gmaps'%>
	</div>
	<div id='write_content' class="span7">
		<%= render 'journals/form' %>
	</div>
</div>

<script>
$(function(){
	$(".journal_form").validate();
	</script>