.pagination{
	text-align:center;
}
/* home/index*/
.journals{
	.journal_part{
		background-color: white;
		margin: 20px auto;
		#journal_picture{
			padding:20px;
		}
		#journal_content{
			padding:20px;
			.title{
				margin-bottom: 10px;
			}
		}
	}
}


/*journal#show*/

.journal_all{
	margin: 20px auto;
	#journal_content{
		padding:30px;
		background-color:white;
	}
}

/*journal#new&edit*/
#write_journal{
	#upload_picture{
		padding-bottom:20px;
		background-color:white;
		min-height:100px;
		border-bottom: 1px solid;
		.fileupload-buttonbar{
			width:150px;
			height:20px;
			margin: 10px auto;
			font-size: 2em;
			color: #E1704B;
		}
		.files{
			margin: 5px 10px;
		}
	}
	#write_content{
		background-color:white;
		text-align: center;
		.journal_title{
			border-radius: none;
			font-size: 30px;
			line-height: 30px;
			width:80%;
			height: 60px;
			margin: 20px auto;
			text-align: center;
			display: block;
		}
		#cke_journal_input{
			margin: 0 auto;
		}
		.journal_action{
			margin-top: 20px;
			.btn{
				width: 300px;
			}
		}
	}
}

.social-share-button{
	display:inline;
}