// Place all the styles related to the Me controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#me{
	background: url("me-bg.png") center top repeat-y white;
	#info{
		height: 100%;
		#my_info{
			width:50%;
			height: 100%;
			float: left;
			#main_info{
				margin: 80px 150px;
			}
			#my_img{
				width:100px;
				height:100px;
				border-radius: 50px;
				margin: auto 0 30px 50px;
			}
			ul, li{
				list-style: none;
				margin-top:10px;
			}
		}
		#my_skill{
			width: 50%;
			height: 100%;
			display: inline-block;
			section{
				margin: 20px;
			}
		}		
	}
}