.sign{
	margin: 0 auto;
	border: 1px solid;
	width:500px;
	label{
		display: inline;
		font-size:18px;
	}
	input[type="password"], input[type='text'], input[type='email']{
		height:30px;
		width:240px;
		padding-left:10px;
		font-size:18px;
		line-height:2;
		margin: 10px;
		display: block !important;
	}
	#user_username{
		margin-left: 0;
	}
	.error>label{
		display: block;
	}
}

