
.sign{
	margin: 50px auto;
	width:400px;
	height: 300px;
	padding:50px;
	text-align:center;
	background-color:white;
	p{
		font-size: 18px;
	}
	form{
		margin-top: 30px;
	}
	label{
		display: inline;
		font-size:18px;
	}
	input[type="password"], input[type='text'], input[type='email']{
		height:30px;
		width:240px;
		padding-left:10px;
		font-size:18px;
		line-height:2;
		margin: 10px;
	}
	input[name="commit"]{
		margin-left:20px;
	}
	#user_username{
		margin-left: 0;
	}
	label[class="error"]{
		display: block;
		margin-left:40px;
		font-size: 16px;
	}
}

.sign_in{
	height:200px;
}