.icon-happy,.icon-happy2,.icon-happy3,.icon-smiley,.icon-smiley2,.icon-tongue,.icon-tongue2,.icon-sad,.icon-sad2,.icon-wink,.icon-wink2,.icon-grin,.icon-grin2,.icon-cool,.icon-cool2,.icon-angry,.icon-angry2,.icon-evil,.icon-evil2,.icon-shocked,.icon-shocked2,.icon-confused,.icon-confused2,.icon-neutral,.icon-neutral2,.icon-wondering {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-happy {
	background-position: 0 0;
}
.icon-happy2 {
	background-position: -80px 0;
}
.icon-happy3 {
	background-position: -160px 0;
}
.icon-smiley {
	background-position: -240px 0;
}
.icon-smiley2 {
	background-position: -320px 0;
}
.icon-tongue {
	background-position: -400px 0;
}
.icon-tongue2 {
	background-position: -480px 0;
}
.icon-sad {
	background-position: -560px 0;
}
.icon-sad2 {
	background-position: -640px 0;
}
.icon-wink {
	background-position: -720px 0;
}
.icon-wink2 {
	background-position: -800px 0;
}
.icon-grin {
	background-position: -880px 0;
}
.icon-grin2 {
	background-position: -960px 0;
}
.icon-cool {
	background-position: -1040px 0;
}
.icon-cool2 {
	background-position: -1120px 0;
}
.icon-angry {
	background-position: -1200px 0;
}
.icon-angry2 {
	background-position: 0 -80px;
}
.icon-evil {
	background-position: -80px -80px;
	height: 40px;
}
.icon-evil2 {
	background-position: -160px -80px;
	height: 40px;
}
.icon-shocked {
	background-position: -240px -80px;
}
.icon-shocked2 {
	background-position: -320px -80px;
}
.icon-confused {
	background-position: -400px -80px;
}
.icon-confused2 {
	background-position: -480px -80px;
}
.icon-neutral {
	background-position: -560px -80px;
}
.icon-neutral2 {
	background-position: -640px -80px;
}
.icon-wondering {
	background-position: -720px -80px;
}
