/*user#show*/
.user{
	#user_info{
		background: white;
		padding:20px;
		.avatar img{
			border-radius: 50px;
			margin: 0 50px 0 100px;
		}
	}
	#user_journals{
		.journal_part{
			margin-top:0;
		}
	}
}
