/*user#show*/
.user{
	#user_info{
		background: white;
		padding:20px;
		.avatar img{
			width: 80px;
			border-radius: 40px;
			display: inline-block;
		}
		h1{
			display: inline-block;
			font-size: 22px;
			margin-left:20px;
		}
		p{
			margin-top: 20px;
		}
		i{
			margin-right: 5px;
		}
	}
	#user_journals{
		.journal_part{
			margin-top:0;
		}
	}
}
