<footer class='footer'>
	<ul>
		<li>
			<a href="http://weibo.com/3254249992/profile?rightmod=1&wvr=5&mod=personinfo" target='blank'><i class='icon-eye-open'></i>  关注微博</a>
		</li>
		<li>
			<a href="mailto:liuxiongsky@163.com" target='blank'>
			<i class='icon-envelope'></i>  联系我们</a>
		</li>
	</ul>
</footer>